@media (max-width: 1200px) {
    .top {
        background-position: bottom right -200px;


        &__inner {
            width: unset;
            max-width: 600px;
        }
    }
}

@media (max-width: 900px) {
    .top {
        min-height: calc(110 * var(--vh));
        background-image: url(../images/main-bg-tablet.jpg);
        justify-content: start;
        background-position: bottom right;

        &__inner {
            margin: 0 auto;
            text-align: center;
        }

        &__title-top {
            font-size: 30px;
        }

        &__title-bottom {
            font-size: 16px;
        }

        &__quiz-link {
            width: 100%;
            border-radius: 32px;   
        }
    }

    .footer {
        &__link {
            font-size: 12px;
        }
    }
}

@media (max-width: 600px) {
    .top {
        background-position: bottom right;

        &__title-bottom {
            margin-top: 15px;
            font-size: 14px;
        }

        &__quiz-link {
            font-size: 16px;
            font-weight: 600;
        }

        &__descr {
            color: rgba(239,242,247,.8);
        }
    }

    .footer {
        padding-top: 30px;
    }
}