<header class="header">
    <div class="container header__inner">
        <a class="header__logo" href="/">
            <picture>
                <source srcset="images/logo.webp" type="image/webp">
                <img class="header__logo-img" src="images/logo.png" alt="logo">
            </picture>
            <h1  class="header__logo-title">PRODVIGATOR-LAB</h1>
        </a>
        <p class="header__description">
            Тест - оценка правовой состовляющей в стоимости среднего и крупного бизнеса
        </p>
    </div>
</header>