<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="css/main.min.css" type="text/css">
    <title>{{ title }}</title>
    {{> prebody }} 
</head>
<body>
    {{> body }} 
    {{> footer}}
    <script src="js/main.min.js"></script>
</body>
</html>
