<div class="line-progress">
    <div class="line-progress__descr">
        Шаг <span>1</span>
    </div>
    <div class="line-progress__dots">
        <span class="line-progress__step done active" data-number="1"></span>
        <span class="line-progress__step" data-number="2"></span>
        <span class="line-progress__step" data-number="3"></span>
        <span class="line-progress__step" data-number="4"></span>
        <span class="line-progress__step" data-number="5"></span>
        <span class="line-progress__step" data-number="6"></span>
        <span class="line-progress__step" data-number="7"></span>
        <span class="line-progress__step" data-number="8"></span>
    </div>
</div>