<div class="quiz__step swiper-slide" data-permision="false" data-type="finish">
    <fieldset class="quiz__fieldset">
        <legend class="quiz__fieldset-legend" data-number="8">СПАСИБО! Оставьте контакты&nbsp;и&nbsp;получите:</legend>
        <ul class="quiz__explanation">
            <li class="quiz__explanation-item">
                <p class="quiz__explanation-text">Доступ к видео: "Как правильно оценить и учесть правовые риски в стоимости компании"</p>
            </li>
            <li class="quiz__explanation-item">
                <p class="quiz__explanation-text">"Аудит бизнеса по 31 параметру, влияющих на стоимость компании"</p>
            </li>
        </ul>
        <div class="quiz__label">
            <input class="quiz__input quiz__input-name" type="text" name="name" placeholder="Как Вас зовут?" tabindex="-1">
        </div>
        <div class="quiz__label">
            <input class="quiz__input quiz__input-tel" type="tel" name="tel" placeholder="* Телефон для консультации и уточняющих вопросов*" tabindex="-1">
        </div>
        <div class="quiz__row">
            <button class="quiz__btn--red quiz__btn--submit" disabled type="submit"><span class="quiz__btn-span--submit">Получить результат</span></button>
        </div>
        <p class="quiz__privacy">
            Отправляя сведения через электронную форму, Вы даете согласие на обработку, сбор, хранение и передачу третьимлицам предоставленной Вами информации на условиях
        </p>
    </fieldset>
</div>  
